.activity-dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dot-empty {
    width: 20px;
    height: 20px;
    border: 1px solid var(--border-secondary);
    border-radius: 50px;
}

.dot-active {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: var(--accent);
}