.ClientCard {
    display: grid;
    align-items: center;
    gap: 16px;
    padding: 16px 20px;
    border-radius: 16px;
    background: var(--surface);
    margin-block: 10px;
}

.ClientCard .card-body {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
    flex: 1;
}

.ClientCard .data {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.9rem;
}